In [63]:
#tic tac toe game
from sklearn.neural_network import MLPClassifier
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils import shuffle

In [64]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data"
headers = ['top-left', 'top-middle', 'top-right', 'middle-left', 
           'middle-middle', 'middle-right', 'bottom-left', 'bottom-middle', 
           'bottom-right', 'class']

In [65]:
dataframe = pd.read_csv(url, names=headers)
dataframe = shuffle(dataframe)

In [66]:
dataframe.describe()

,top-left,top-middle,top-right,middle-left,middle-middle,middle-right,bottom-left,bottom-middle,bottom-right,class
count,958,958,958,958,958,958,958,958,958,958
unique,3,3,3,3,3,3,3,3,3,2
top,x,x,x,x,x,x,x,x,x,positive
freq,418,378,418,378,458,378,418,378,418,626

In [67]:
#sneekpeak into the dataset.
dataframe[1:10]

,top-left,top-middle,top-right,middle-left,middle-middle,middle-right,bottom-left,bottom-middle,bottom-right,class
852,o,b,x,x,o,x,b,b,o,negative
323,o,x,o,x,x,x,b,b,o,positive
615,b,b,o,o,x,o,x,x,x,positive
835,o,o,o,b,x,x,x,x,o,negative
653,x,x,o,b,o,x,o,b,b,negative
214,x,o,b,o,o,b,x,x,x,positive
927,b,o,b,b,o,x,x,o,x,negative
660,x,x,b,x,x,o,o,o,o,negative
928,b,b,x,x,x,b,o,o,o,negative

In [68]:
labelEncoder = preprocessing.LabelEncoder()

labelEncoder.fit(dataframe['top-left'])
labelEncoder.fit(dataframe['top-middle'])
labelEncoder.fit(dataframe['top-right'])
labelEncoder.fit(dataframe['middle-left'])
labelEncoder.fit(dataframe['middle-middle'])
labelEncoder.fit(dataframe['middle-right'])
labelEncoder.fit(dataframe['bottom-left'])
labelEncoder.fit(dataframe['bottom-middle'])
labelEncoder.fit(dataframe['bottom-right'])
labelEncoder.fit(dataframe['class'])

LabelEncoder()

In [69]:
dataframe['top-left'] = labelEncoder.fit_transform(dataframe['top-left'])
dataframe['top-middle'] = labelEncoder.fit_transform(dataframe['top-middle'])
dataframe['top-right'] = labelEncoder.fit_transform(dataframe['top-right'])
dataframe['middle-left'] = labelEncoder.fit_transform(dataframe['middle-left'])
dataframe['middle-middle'] = labelEncoder.fit_transform(dataframe['middle-middle'])
dataframe['middle-right'] = labelEncoder.fit_transform(dataframe['middle-right'])
dataframe['bottom-left'] = labelEncoder.fit_transform(dataframe['bottom-left'])
dataframe['bottom-middle'] = labelEncoder.fit_transform(dataframe['bottom-middle'])
dataframe['bottom-right'] = labelEncoder.fit_transform(dataframe['bottom-right'])
dataframe['class'] = labelEncoder.fit_transform(dataframe['class'])

In [70]:
#dataframe.describe()

In [71]:
#let's split the dataframe into X and y
X = dataframe[headers[:-1]]
y = dataframe[headers[-1]]

#Split the dataset into training and testing sets resp.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=20)

In [72]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [73]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
#X_train

In [74]:
#Dimensions of training set and testing set, created by splitting dataset.
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(718, 9)
(718,)
(240, 9)
(240,)

In [75]:
mlp = MLPClassifier(activation = 'relu', solver = 'lbfgs', hidden_layer_sizes=(9,7,5))
mlp.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(9, 7, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [76]:
predictions = mlp.predict(X_train)
print("Confusion Matrix for testing on Training Set:")
print(confusion_matrix(y_train,predictions))

Confusion Matrix for testing on Training Set:
[[237  11]
 [ 10 460]]

In [77]:
print("Classification Report on training set\n\n")
print(classification_report(y_train,predictions))

Classification Report on training set


             precision    recall  f1-score   support

          0       0.96      0.96      0.96       248
          1       0.98      0.98      0.98       470

avg / total       0.97      0.97      0.97       718

In [78]:
predictions = mlp.predict(X_test)
print("Confusion Matrix for testing on Testing Set:")
print(confusion_matrix(y_test,predictions))

Confusion Matrix for testing on Testing Set:
[[ 59  25]
 [ 20 136]]

In [79]:
print("Classification Report on testing set\n\n")
print(classification_report(y_test,predictions))

Classification Report on testing set


             precision    recall  f1-score   support

          0       0.75      0.70      0.72        84
          1       0.84      0.87      0.86       156

avg / total       0.81      0.81      0.81       240